body {
  background: #fff;
}

h1 {
  display:  flex;
  margin: 0;
  height: 100vh;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;

  color: #ff7d3b;
  font: 700 4.5em 'Roboto';
  letter-spacing: 0.1em;
  text-align: center;
}

h1 small {
  display: block;

  color: #444;
  font-weight: 400;
  font-size: 0.35em;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

h2 {
  margin: 0 0 2em;

  color: #666;
  font: 700 1.3em 'Roboto';
  letter-spacing: 0.05em;
  text-align: center;
}

h2 b {
  color: #ff7d3b;
}

.section {
  display:  flex;
  position: relative;
  height: 100vh;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section--2,
.section--3 {
  margin: 100vh 0;
}

lottie-player {
  margin: 0 auto;
  width: 581px;
  height: 274px;
}

.section--4 lottie-player {
  cursor: pointer;
}
